*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --primary-color: #0A1128;
    --secondary-color: crimson;
    --light-gray-color: #ccc;
    --white-color: #fff;
    --gap: 3rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
  }

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 6rem;
    text-transform: uppercase;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
  
h2 {
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 1.2;
}
  
h3 {
    font-size: 5rem;
}
  
h4 {
    font-size: 4.5rem;
}
  
h5 {
    font-size: 4rem;
}
  
h6 {
    font-size: 3.5rem;
}

p{
    line-height: 1.2;
    font-size: 2rem;
}

header{
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 60px;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header .navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

header .navbar .logo a{
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    font-size: 2.6rem;
    display: block;
}

.menu ul{
    display: flex;
}

.menu li a{
    padding: 0 1rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    line-height: 63px;
    border-bottom: 3px solid transparent;
    display: block;
    position: relative;
}

.menu li a::after{
    content: '';
    transition: all 200ms ease-in-out;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--secondary-color);
}

.menu li a:hover::after{
    width: 50%;
    left: 25%;
}

.main-bg{
    background-image: url('../img/main-bg.svg');
    background-position: center;
    background-size: cover;
    color: var(--white-color);
}

.white-bg{
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-content{
    width: 100%;
    max-width: 120rem;
    padding: 10rem var(--gap);
    margin: 0 auto;
}

.section{
    min-height: 100vh;
}

@media screen and (max-width: 768px){
    h2{
        font-size: 3.5rem;
    }

    header{
        bottom: 0;
        height: auto;
        display: none;
    }

    header .navbar, .navbar ul{
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    .close-menu{
        display: none;
    }

    .close-menu-label::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        right: 2rem;
        top: 2rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 3.5rem;
        line-height: 3.5rem;
        width: 3.5rem;
        height: 3.5rem;
        padding: 0.5rem;
        text-align: center;
        cursor: pointer;
    }

    .close-menu:checked~header{
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }
}