.home-content{
    min-height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
}

.home-content-text h2{
    margin-bottom: 4rem;
}

.home-content-text p{
    font-size: 2rem;
}

.home-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-img img{
    max-width: 100%;
    height: auto;
}

.top3-content{
    max-width: 64rem;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.top3-content h2{
    margin-bottom: 2rem;
}

.top3-content p{
    margin: 2rem 0;
}

.grid-one-content{
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid-one-content .grid-description{
    margin-bottom: 4rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    flex-wrap: wrap;
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5.5rem;
    padding-bottom: 3rem;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    top: -3rem;
    left: 0;
    font-size: 8rem;
    transform: rotate(5deg);
}

.grid p{
    margin-bottom: 1rem;
}

.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img{
    max-width: 100%;
    height: auto;
    transition: all 200ms ease-in-out;
}

.gallery-img img:hover{
    transform: scale(1.2);
}

.responsive-table {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

.contact-form{
    grid-column: span 2;
}

.contact-form .form-grid{
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap)
}

.form-group{
    flex: 1 1 32rem;;
}

div.full-width{
    width: 100%;
    flex: 1 1 100%;
}

.contact-form legend{
    font-style: italic;
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea{
    border: none;
    background-color: var(--white-color);
    border-radius: 0.2rem;
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.form-group button{
    border: 0.2rem solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    border-radius: 0.2rem;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.form-group button:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
}
  
  
table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
}
  
table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}
  
table td, table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color)
}

footer{
    text-align: center;
    padding: var(--gap);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 1.7rem;
}

footer p a{
    color: var(--primary-color);
}

footer p a:hover{
    text-decoration: underline;
}

tfoot td, table th {
    background: var(--light-gray-color);
}

.back-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transform: rotate(-90deg);
}

@media screen and (max-width: 768px){
    .home-content, .grid{
        grid-template-columns: 1fr;
    }

    .grid-one-content{
        display: block;
    }

    .gallery-img{
        max-width: 80%;
        max-height: 80%;
        margin: 0 auto;
    }

    .gallery-img img{
        width: 100%;
    }
}